<footer class="footer fixed-bottom">
    <div class="container">
        <span>Created by <a href="https://jackheuberger.com">Jack Heuberger</a> in 2020.</span>
        Like this site? You can support me <a href="https://buymeacoff.ee/jackheuberger">here</a>.
    </div>
</footer>