<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <span class="navbar-brand mb-0 h1" href="#">BHS Job Board</span>
  <ul class="nav justify-content-end">

      <div class="btn-group">
        <a class="btn btn-outline-primary my-2 my-sm-0" href="/auth/logout">Logout</a>
      </div>
      <div class="btn-group">
        <a class="btn btn-dark my-2 my-sm-0" href="https://github.com/jackheuberger/bhsjobboard"
        target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </li>
  </ul>
</nav>