<div class="card shadow-lg mx-auto">
    <h1 class="card-title" style="padding-top: 20px;"><i class="fas fa-address-card"></i> BHS Job Board</h1>
    <h6 class="card-subtitle mb-2 text-muted">Post or find jobs meant for Brookline High students</h6>
    <div class="card-body">
        <a href="/auth/google" class="btn btn-danger mt-auto" data-toggle="tooltip" title="Students, make sure to login with your school email!">
            <i class="fab fa-google"></i> &nbsp; Log In With Google
        </a>
    </div>
</div>