p {
    margin: 10px 0 !important;
}

.login-container {
    /* margin-top: 50px; */
    text-align: center;
}

.collapse {
    text-align: left;
}

body, .jumbotron {
    background-color: #ffffff;
}

.card {
    max-width: 50%;
}

table{
    table-layout: fixed;
}

td{
    word-wrap: break-word;
}

.poster {
    text-transform: capitalize;
    width: 50%;
}

.desc{
    width: 1000px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #ffffff;
}