p {
    margin: 10px 0 !important;
}

.login-container {
    /* margin-top: 50px; */
    text-align: center;
}

.card {
    max-width: 50%;
}

table{
    table-layout: fixed;
}

td{
    word-wrap: break-word;
}

.desc{
    width: 1000px;
}